input{
  font-size: 20px;
  padding: 5px 15px;
  border: none;
  box-shadow: 0 0 5px 0 grey;
  border-radius: 5px;
}

button{
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  box-shadow: 0 0 5px 0 rgb(143, 143, 143);
}